

<div class="container">
  <h1>The Bulletin</h1>



  <% @messages.each do |message| %>
    <div class="row">
      <div class="col-md-12">
        <div class="well">


          <p><%= message.body %></p>
          <p><%= message.created_at %></p>
        </div>
      </div>    
    </div>
  <% end %>

</div>